/* normall css */
*{
    margin: 0;
    padding: 0;
}

/* custom font */

@font-face {
    src: url(font/Inconsolata-Regular.ttf);
    font-family: "Inconsolata";
}

@font-face {
    src: url(font/PlayfairDisplay-Regular.ttf);
    font-family: "Playfair Display";
}

@font-face {
    src: url(font/Ubuntu-Light.ttf);
    font-family: "Ubuntu";
}


/* header section start */
header{
    margin: 80px 0px;
}
.header-container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid red; */
}

    /* logo start */

.logo{
    float: left;
    /* border: 1px solid red; */
}
.logo a{
    font-family: "Inconsolata";
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
}
    /* logo end */


    /* navber start */
.navber{
    width: 60%;
    float: right;
    margin-top: 6px;
    /* border: 1px solid red; */

}
.navber ul{
    float: right;
}
.navber ul li{
    list-style-type: none;
    float: left;
}
.navber ul li a{
    text-decoration: none;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #626262;
    margin: 0px 30px;
    transition: .3s ease-in;
    border-bottom: 1px solid transparent;
}

.navber ul li:last-child a{
    margin-right: 0px;
}

.navber ul li a:hover{
    border-bottom: 1px solid #626262;
}
    /* navber end */
/* header section end */



/* benner-section star */
.benner-section{
    margin-bottom: 100px;
}
.benner-container{
    width: 90%;
    margin: 0 auto;
}

.benner-img img{
    width: 100%;
}
/* benner-section end */



/* blog-section start */
.blog-container{
    width: 80%;
    margin: 0 auto;
}


.blog-post{
    width: 100%;
    margin: 0 auto;
}


.blog-post .post-category{
    font-family: "Ubuntu" sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #919191d5;
    letter-spacing: 1.5px;
    margin: 0px 0px 40px 0px;
}

.blog-post .post-title{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #626262;
    margin: 0px 0px 50px 0px;
}

.blog-post .post-description{
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #626262;
    /* text-align: justify; */
    word-spacing: 1.5px;
    margin: 0px 0px 80px 0px;
    line-height: 1.7;
}


.blog-post .comment-link{
    text-decoration: none;
    font-family: "Ubuntu" sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #919191d5;
    letter-spacing: 1.5px;
    margin: 0px;
    transition: .3s ease-in;
}


.blog-post .comment-link:hover{
    color: black;
}
/* blog-section end */




/* featured-post section start */
.featured-post{
    margin: 150px 0px;
    
}

.post-container{
    width: 80%;
    margin: 0 auto;
}

.post-list{
    width: 100%;
    overflow: hidden;
}

.post-card{
    width: 47%;
    float: left;
}

.post-card:nth-child(even){
    margin-left: 6%;
}

    /* card-1 & card-2 */
.card-1, .card-2{
    margin-bottom: 100px;
}

.post-card .post-img img{
    width: 100%;
}

.post-card .post-category{
    font-family: "Ubuntu" sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #919191d5;
    letter-spacing: 2px;
    margin: 20px 0px;
}

.post-card .post-title{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #626262;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.post-card .post-description{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
    letter-spacing: 1.5px;
}
/* featured-post section end */




/* newsletter-section start */
.newsletter-section{
    background-color: #f0f0f0;
    padding: 100px;
    background-color: #bdbdbdb6;
}

.newsletter-container .signup{
    width: 100%;
    text-align: center;
}

.signup h1{
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #626262;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.signup form{
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.signup form input{
    width: 340px;
    height: 50px;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #555555;
    border: none;
    border-bottom: 1px solid #626262;
    padding: 0px 55px 0px 5px;
    background-color: transparent;
}

.signup form input:focus{
    outline: 0;
}

.signup form button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.signup form button:focus{
    outline: 0;
}
/* newsletter-section end */




/* latest-posts start */
.latest-posts{
    margin: 100px 0px;
}

.post-container{
    width: 80%;
    margin: 0 auto;
}

.post-list{
    width: 100%;
    overflow: hidden;
}

.post-list .post-card{
    width: 47%;
    float: left;
}

.post-list .post-card:nth-child(even){
    margin-left: 6%;
}


.post-list .card-1, .card-2{
    margin-bottom: 100px;
}

.post-list .post-card .post-img img{
    width: 100%;
}

.post-card .post-category{
    font-family: "Ubuntu" sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #919191d5;
    letter-spacing: 2px;
    margin: 20px 0px;
}

.post-card .post-title{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #626262;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.post-card .post-description{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
    letter-spacing: 1.5px;
}


.load-more-wrapper{
    overflow: hidden;
    text-align: center;
    margin: 100px 0px;
}

.load-more-wrapper button{
    width: 160px;
    height: 60px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color:#626262;
    border: 2px solid #626262;
    cursor: pointer;
    transition: .33s ease-in;
}


.load-more-wrapper button:hover{
    background-color: #626262;
    color: white;
    border: 2px solid transparent;
}
/* latest-posts end */




/* footer start  */

footer{
    background-color: #c9c9c9bb;
}
.footer-container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0px;
}





.privacy{
    float: left;
}

.privacy a{
    text-decoration: none;
    font-family: Playfair Display, sans-serif;
    font-size: 20px;
    color: black;
    margin: 0px 20px 0px 0px;
    border-bottom: 1px solid transparent;
    transition: .33s ease-in
}
.privacy a:hover{
    border-bottom: 1px solid black;
}




    /* social-link */
.social-link{
    float: right;
}

.social-link h2{
    display: inline-block;
    margin: 0;
    font-family: Playfair Display, sans-serif;
    font-weight: 300;
    font-size: 20px;

}
.social-link a{
    text-decoration: none;
    margin-left: 20px;

}
.social-link a img{
    height: 15px;
    width: auto;
}

/* footer end  */